
span
	span.object.group.retro
		div.insteadofpic
		span.time
			| At #{when.split("T")[0]}
			br
			| #{when.split("T")[1]} o'clock
			br
			br
	| !{who}
	| !{action}
	if phase
		| !{phase}
	if gear
		| !{gear}
	if id
		| !{id}
	if target
		| !{target}
	if url
		a.object.group.retro(href='#{url}',target='_blank')
			img(src="https://raw.github.com/wesnoth/wesnoth-old/master/data/core/images/scenery/signpost.png")
