.commanddef

	h3 Presentation

	dl.group
		dt ID
		dd #{id}
		dt Reward
		dd(style="color:gold;") #{whocoin}
		if typeof targetcoin !== "undefined"
			dt Target reward
			dd #{targetcoin}
		dt Description
		dd #{description}


	h3 Arguments
	dl.group
		dt type
		dd #{id}
		dt when
		dd timestamp on format YYYY-MM-DDTHH:MM
		-for(var t in args)
			dt #{t}
			dd #{args[t]}