//- This template is given an object definition, with `icon`, `link` and `text` data.

a.object.group.retro(href='#{link}')
	if icon
		img(
			class= '#{category}'
			src= '#{icon}.png'
		)
	else
		div.insteadofpic
	span.name !{(text||"moo").replace(/ /g,"<br />")+"<br /><br />"}