//- This template is given the full user model definition. We thereby have access to `info` and `commands`.

p
	img(
		src='http://units.wesnoth.org/1.10/pics/core$images$units$#{info.icon}.png'
		title='#{info.icon}'
		alt='#{info.icon}'
	)
	| #{info.name}